X11Forwarding yes
PasswordAuthentication yes
# PubkeyAuthentication yes
#ChallengeResponseAuthentication no
#AuthorizedKeysFile /root/.ssh/authorized_keys /etc/ssh/authorized_keys
SyslogFacility AUTH
LogLevel DEBUG
#PermitRootLogin 	yes
